@charset "utf-8";


.title{
	color:blue
}

*{
	margin:0;
	padding:0;
}

body{
	background-image: url("../../my_portfolio/images/backgroundimage.jpg");
		background-size:auto;
	
}
body p {font-family: 'Source Sans Pro', sans-serif;
color:brown}
